body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Helvetica Neue', 'sans-serif';
    font-weight: 300;
    font-size: 12pt;
    font-variant: small-caps;
    color: white;
    user-select: none;
    background-color: #222;
}

#app {
    margin: 0 auto;
}

#section1 {
    width: 100%;
    margin: 0 auto;
    text-shadow: 0 0 7px rgba(255,255,255,0.45);
    background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('../res/frontpage.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#crest {
    margin: 5em auto;
    margin-bottom: 3em;
    width: 30vh;
    height: 30vh;
    background-image: url('../res/zbtcrest_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: visible;
}

#sect1txt {
    text-align: center;
    width: 65%;
    margin: 0.5vw auto;
}

h1 {
    margin: 0.2em 0;
    font-size: 5em;
    font-weight: 100;
    font-variant-caps: small-caps;
    line-height: 1em;
}

h4 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
    display: inline-block;
    width: 65%;
    line-height: 2em;
}

#calltoaction {
    font-size: 1.2em;
    color: #fff;
    border: 0.5px #fff solid;
    border-radius: 0.5em;
    width: 30%;
    margin: 5em auto;
    margin-bottom: 10em;
    padding: 0.65em 0;
    transition: all 200ms;
}

#calltoaction:hover {
    border: 0.5px #aaa solid;
    color: #aaa;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #calltoaction {
        font-size: 3.5vw;
        width: 60%;
    }
}
